@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply w-full min-h-screen;
}

body {
  @apply bg-slate-900;
}

.border-1 {
  border-width: 1px;
}

input[type='text']:focus + label.inputLabel {
  color: red;
}

.position-center {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-x-center {
  position: absolute;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
}

.position-y-center {
  position: absolute;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
}

.ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.scroll-hidden::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.scroll-hidden {
  scrollbar-width: none;
}
